<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON Example</title>
</head>
<body>
<script type="text/javascript">
    let companies =
        [
            {
                "name": "Big Corporation",
                "numberOffEmployees": 1000,
                "ceo": "Mary",
                "rating": 3.6,
            },
            {
                "name": "Small Startup",
                "numberOffEmployees": 3,
                "ceo": null,
                "rating": 4.3
            }
        ]
    console.log(companies)
</script>

</body>
</html>